 <div class="gx-0 p-4 application">
       <h2 class="mb-5 mx-auto">
           <span class="fw-bolder">Kite</span> <img class="mb-1" height="25" src="https://raw.githubusercontent.com/hilah-ats/ats-kite-status/main/favicon.svg" alt="kite logo" /> {{name}} 
       </h2>
       <div class="row gx-0">
          <div class="" id="appStatus">
             <h5 class="fw-bold">Current Status:</h5>
             <div class="current-status mb-2 pl-3">
                <div class="p-2 text-center status-{{status.type}}" id="status">{{status.message}}<span>{{status.icon}}</span></div>
             </div>
             <i>
                <p class="" id="updated">Last Updated: {{lastRefresh}}</p>
             </i>
             <div  class="mb-4 d-{{status.alert.display}}" id="outage">
                <div class="p-3">
                   <span class="fw-bold" id="outage-date">{{status.alert.date}}</span>
                   <div id="outage-message">{{status.alert.message}}</div>
                </div>
             </div>
          </div>
          <div class="d-{{uptime.display}}" id="appUptime">
             <hr class="" />
             <div class="text-center mb-5">
                <h5 class="fw-bold">Application Uptime</h5>
                <i>
                   <p class="text-center" id="upSince">{{schoolYear}} School Year</p>
                </i>
             </div>
             <div class="uptime-graph d-block mx-auto text-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 36 36">
                   <circle cx="16" cy="16" r="15.9155" class="progress-bar__background" />
                   <circle cx="16" cy="16" r="15.9155" id="progressBar" style="stroke-dashoffset:{{uptime.graphOffset}};" class="progress-bar__progress js-progress-bar" />
                </svg>
                <div class="uptime-percent text-center display-2 m-3">
                   <span id="uptimeInt">{{uptime.int}}</span><span id="uptimeDec">{{uptime.dec}}</span>
                </div>
             </div>
          </div>
        </div>
    </div>